.headerBody{
    height: 50px; 
    width: 100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
}
.logo{
    width: 10%;
    height: 50px ;
    background-image: url('../../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}
.city{
    width: 20%;
    height: 50px ;
    padding: 0;
    font-size: 18px;
    color: #f13e53 !important;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.city-modal{
    z-index: 100;
}
.other{
    padding: 5px;
}
.search{
    font-size: 14px;
    width: 250px;
    display: inline-block;
}
.city-modal-heading{
    color: #4dc5c6;
    text-align: center;
}
.homepage-main{
    background-image: url('../../main.jpg');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;   
}
.history{
    width: 100%;
}
.trip{
    font-size:14px;
    margin-left:5px;
    margin-top:5px;
}
.pointer{
    cursor: pointer;
}
.homeCarousel1{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/m800.jpg');
}
.homeCarousel2{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/xylo.jpeg');
}
.homeCarousel3{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/bus.jpg');
}
.homeCarousel4{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/bus2.jpg');
}
.homeCarousel5{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/bike1.jpg');
}
.homeCarousel6{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/bike2.jpeg');
}
.homeCarousel7{
    width: 200px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: 100% 100%;
    background-image: url('../../images/bike3.jpg');
}
.textCar{
    text-align:center;
    position:absolute;
    margin-top:90%;
    font-weight:900;
    color:#f13e53;
    margin-left: 25%;
}